* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d9d9d9;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  background-color : #B2C9AB;
  margin : 10px;
  border-radius : 10px;
}

li {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

#site-title {
  display: flex;
  align-self: center;
  margin-left: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}

.nav-elem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
  font-family: 'Fira Sans', sans-serif;
  font-size : 25px;
}

.main {
  display: flex;
  justify-content: space-around;
  height: 800px;
}

#map {
  display: flex;
  height: calc(100% - 10px);
  width: 75%;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #284b63;
  border-width: 1px;
  border-radius: 10px;
}

.sidebar-block {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 10px;
  border-style: solid;
  border-color: #284b63;
  border-width: 1px;
  border-radius: 10px;
  font-family: 'Fira Sans', sans-serif;
}

.nav-elem li {
  transition: all 0.25s ease-in;
}

.nav-elem li:hover {
  background-color : #3C6E71;
  border-radius : 10px
}
